* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainRed: red;
$mainOrange: orange;
$green: green;

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: "Open Sans", sans-serif;
}